In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santo Antonio Do Leverger,BR,2022-02-04 15:47:16,-15.8656,-56.0767,89.98,53,83,8.25
1,1,Cavan,IE,2022-02-04 15:47:17,53.9908,-7.3606,39.42,80,60,12.80
2,2,Asau,RO,2022-02-04 15:47:17,46.4333,26.4000,36.52,81,90,5.44
3,3,Waverly,US,2022-02-04 15:47:17,42.7392,-84.6208,12.00,74,20,8.05
4,4,Jamestown,US,2022-02-04 15:43:14,42.0970,-79.2353,20.52,65,100,5.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santo Antonio Do Leverger,BR,2022-02-04 15:47:16,-15.8656,-56.0767,89.98,53,83,8.25
5,5,Hilo,US,2022-02-04 15:47:18,19.7297,-155.0900,67.24,76,0,6.91
6,6,Coihueco,CL,2022-02-04 15:47:18,-36.6167,-71.8333,72.34,56,20,9.22
8,8,San Lawrenz,MT,2022-02-04 15:47:19,36.0553,14.2040,60.21,82,6,4.00
10,10,Hermanus,ZA,2022-02-04 15:46:59,-34.4187,19.2345,77.90,53,7,23.02
11,11,Bonfim,BR,2022-02-04 15:47:20,3.0833,-59.9500,84.15,39,99,8.90
13,13,Atuona,PF,2022-02-04 15:47:07,-9.8000,-139.0333,78.37,75,11,16.46
16,16,Mbandaka,CD,2022-02-04 15:47:21,0.0487,18.2603,84.07,52,100,3.74
17,17,Marsh Harbour,BS,2022-02-04 15:47:21,26.5412,-77.0636,74.91,59,87,12.24
19,19,Busselton,AU,2022-02-04 15:47:22,-33.6500,115.3333,73.09,73,0,6.46

In [23]:
preferred_cities_df.count()

City_ID       262
City          262
Country       258
Date          262
Lat           262
Lng           262
Max Temp      262
Humidity      262
Cloudiness    262
Wind Speed    262
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
0   Santo Antonio Do Leverger      BR     89.98 -15.8656  -56.0767
5                        Hilo      US     67.24  19.7297 -155.0900
6                    Coihueco      CL     72.34 -36.6167  -71.8333
8                 San Lawrenz      MT     60.21  36.0553   14.2040
10                   Hermanus      ZA     77.90 -34.4187   19.2345
11                     Bonfim      BR     84.15   3.0833  -59.9500
13                     Atuona      PF     78.37  -9.8000 -139.0333
16                   Mbandaka      CD     84.07   0.0487   18.2603
17              Marsh Harbour      BS     74.91  26.5412  -77.0636
19                  Busselton      AU     73.09 -33.6500  115.3333

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 16500,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and logitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))